<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 리스트 페이지</title>
    <style>
        .layout{
            width: 500px;
            margin: 0 auto;
            margin-top: 40px;
        }
    </style>
</head>
<body>
    <div class="layout">
        <table border="1">
            <thead>
                <tr>
                    <th>글번호</th>
                    <th>제목</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="board:${list} ">
                    <th th:text="${board.id}"></th>
                    <!--//이부분의 따운표를 조심해야됨-->
                    <td>
                        <a th:text="${board.title}" th:href="@{/board/view/(id=${board.id})}"></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>