<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MbtiPage</title>
</head>
<body>

    <div th:each="mbtidb:${list}">
        <h1 th:text="${mbtidb.id}">1</h1>
        <h3 th:text="${mbtidb.text}">3</h3>
        <input type="checkbox" value="E" name="value">
        <input type="checkbox" value="I"name="value">

        <button><a th:href ="@{/mbti/list(page = ${page -1})}" class="prev" >이전</a></button>
        <button><a th:href ="@{/mbti/list(page = ${page +1})}" class="next" >이전</a></button>
   </div>
</body>
</html>