<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MbtiPage</title>
</head>
<body>

    <div th:each="mbtidb:${list}">
        <h1 th:text="${mbtidb.id}">1</h1>
        <h3 th:text="${mbtidb.text}">3</h3>
        <form th:action="@{/mbti/update/{id}(id=${mbtidb.id})}">
            <button type="submit" name="value" value="E"><a th:if="${mbtidb.id >= 2} "th:href ="@{/mbti/list(page = ${mbtidb.id-2})}">O</a></button>
            <button type="submit" name="value" value="I"><a th:href ="@{/mbti/list(page = ${mbtidb.id})}" >X</a></button>
        </form>
   </div>
</body>
</html>