<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MbtiPage</title>
</head>
<body>
<form action="/board/mbtiWritePro" method="post">
   <div th:each="mbtidb:${list}">
        <h1 th:text="${mbtidb.id}">1</h1>
        <h1 th:text="${mbtidb.text}">나는 외향형 이다</h1>
        <input type="checkbox" value="E" name="value">
        <input type="checkbox" value="I"name="value">
        <input type="submit" value="제출하기">
   </div>
</form>
</body>
</html>